BeautifulSoup==3.2.1
CouchDB==0.8
amqplib==1.0.2
anyjson==0.3.1
argparse==1.2.1
carrot==0.10.7
celery==2.4.6
gevent==0.13.6
greenlet==0.3.3
httplib2==0.7.6
kombu==1.5.1
lucene-querybuilder==0.1.5
neo4jrestclient==1.7.0
pika==0.9.5
pycassa==1.7.1-2
pyes==0.16.0
pymongo==2.1.1
pysolr==2.1.0-beta
python-dateutil==1.5
redis==2.4.10
requests==0.14.1
thrift==0.8.0
wsgiref==0.1.2
