BeautifulSoup==3.2.1
CouchDB==0.9
PyYAML==3.11
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.17
celery==3.1.11
kombu==3.0.18
lxml==3.3.5
nltk==2.0.4
pybloomfiltermmap==0.3.14
pyes==0.99.2
pytz==2014.4
redis==2.10.1
requests==2.3.0
six==1.6.1
urllib3==1.8.2
wsgiref==0.1.2
